.drop-down {
 /* Aligns the dropdown to the right */


  display: absolute;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 0.5rem;
  width: 12rem;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 70%;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  list-style: none;
  transition: opacity 0.2s ease-in-out;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}